<?xml version="1.0"?>

<!--
 * @author      Andreas Knollmann
 * @copyright   2014-2024 Softwareentwicklung Andreas Knollmann
 * @license     http://www.opensource.org/licenses/mit-license.php MIT
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product\Option">
        <arguments>
            <argument name="optionGroups" xsi:type="array">
                <item name="benefit" xsi:type="string">Infrangible\CatalogProductCustomerBenefit\Model\Product\Option\Type\CustomerBenefit</item>
            </argument>
            <argument name="optionTypesToGroups" xsi:type="array">
                <item name="benefit_checkbox" xsi:type="string">benefit</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="infrangible_catalogproductcustomerbenefit" type="Infrangible\CatalogProductCustomerBenefit\Plugin\Sales\Api\OrderRepositoryInterface"/>
    </type>
</config>
